<div class="custom-progress mt-3 mb-5">
  <div class="custom-progress-bar" role="progressbar" style={{concat "width: " @progress}} aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>